section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

section>div {
    width: 30%;
    border: 1px grey solid;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 100%;
}

section button:not(.scrollTop) {
  width: 100%;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px; /* <-- arrondis */
    cursor: pointer;
    padding: 0.5rem 0
}

li * {
    color: black;
}
.media-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.media-item{
  width: 30%;
  border: 1px solid grey;
  padding: 0.5rem;
}

.media-item img{
  width: 100%;
  height: auto;
  display: block;
}

/* Scroll top */
.scrollTop {
  position: fixed;
  right: 18px;
  bottom: calc(18px + env(safe-area-inset-bottom));
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-decoration: none;
  z-index: 99999;

  opacity: 1;
  visibility: visible;
  transform: none;
}
/* Animation */
.fade-in{
  opacity: 0;
  transform: translateY(12px);
  animation: fadeInUp 800ms ease forwards; /* un peu plus long pour voir */
  will-change: opacity, transform;
}

@keyframes fadeInUp{
  to{ opacity: 1; transform: translateY(0); }
}
.pdf{
  width: 100%;
  height: 80vh; /* ou 700px */
  border: 0;
  display: block;
}
.media-item img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.media-item img:hover {
  transform: scale(1.05);
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}